* {
	font-family: 'Harmattan', sans-serif;
}

.nav-desktop {
	height: 65px;
	position: fixed;
    width: 100%;
    background-color: #000;
    background: rgba(255, 255, 255, 0);
	.nav-desktop-menu {
		list-style-type: none;
		display: inline-flex;
		margin-top: 15px;
		float: right;
		li {
			margin-left: 30px;
		}
		a {
			color: rgba(0, 0, 0, 0.8);
			font-size: 1.2em;
		}
	}
}

#footer{
  padding:30px 0px;
  text-align:center;
  background:#ddd;
}
